<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="contact-left">
                    <p>contact</p>
                    <h1>Get in Touch <br>
                        with Starbelly</h1>
                    <h6>Consectetur numquam poro nemo veniam <br>
                        eligendi rem adipisci quo modi.</h6>
                    <button>contact</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="contact-right">
                <form>
                    <input name="name" type="text" class="feedback-input" placeholder="Name" />
                    <input name="email" type="text" class="feedback-input" placeholder="Email" />
                    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
                    <input type="submit" value="SUBMIT" />
                </form>
                </div>
            </div>
        </div>
    </div>
</div>