.navbar-item {
    color: #e72929;
    padding-inline: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.4));
}

.logo-img {
    height: 50px;
    width: 50px;
    background-image: cover;
    border-radius: 50%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.company-name {
    margin-left: 10px;
    font-family: 'Playball';
    font-size: 32px;

}

.sub-title {
    font-size: 16px;
    font-family: 'Playball';
    margin: 40px 0px 0px -44px
}

.navbar a {
    color: #626262;


}

.horizontal-nav li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #e72929;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
    color: #626262;;
}

.horizontal-nav li a:hover::before {
    width: calc(100% + 40px);
    left: 50%;
    transform: translateX(-50%);
}

.horizontal-nav li a:hover {
    color: #e72929;
}