.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
}

.nav-heading {
    color: #626262;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.horizontal-nav {
    display: flex;
    place-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: end;
}

.horizontal-nav li {
    float: left;
}

.horizontal-nav li a {
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: #000000;
    position: relative;
    overflow: hidden;
}

.horizontal-nav li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #e72929;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.horizontal-nav li a:hover::before {
    width: calc(100% + 40px);
    left: 50%;
    transform: translateX(-50%);
}

.horizontal-nav li a:hover {
    color: #e72929
}

.hero-section h1 {
    font-weight: 800;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.nav-links.open {
    display: block;
}

.nav-links {
    position: fixed;
    list-style: none;
    top: 0;
    right: -100%;
    padding: 20px;
    display: block;
    height: 100vh;
    width: 80vw;
    background: transparent;
    text-decoration: none;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    border: 1px solid #e72929;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(15px);
}

.nav-links a {
    text-decoration: none;
    line-height: 45px;
    font-size: 18px;
    color: #626262;
}

.nav-links.open {
    right: 0;
}

@media (min-width: 320px) and (max-width:770.98px) {
    .horizontal-nav {
        display: none;
    }
    .nav-toggle {
        display: block;
    }
}


@media (min-width: 771px) and (max-width: 1199.98px) {
    .horizontal-nav {
        font-size: 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {}