<div class="nav">
    <div class="navbar">
        <div class=""><a class="nav-heading">TC ☺ Food Corner!</a></div>
        <div class="">
            <div class="nav-toggle" (click)="toggleNav()"><i class="fa-solid fa-bars fa-2xl ms-5"
                    style="color: #000000;"></i>
            </div>
            <ul class="nav-links" [class.open]="isNavOpen">
                <li (click)="closeNav()" class="text-end"><i class="fa-solid fa-xmark fa-2xl"
                        style="color: #000000;"></i>
                </li>
                <li class=""><a href="#home" (click)="closeNav()">ABOUT</a></li>
                <li class=""><a href="#experience" (click)="closeNav()">EXPERIENCE</a></li>
                <li class=""><a href="#skills" (click)="closeNav()">SKILLS</a></li>
                <li class=""><a href="#login" (click)="closeNav()">Login</a></li>
                <li class=""><a href="#project" (click)="closeNav()">Cart</a></li>
                <li class=""><a href="#contact" (click)="closeNav()">CONTACT US</a></li>
            </ul>
            <ul class="horizontal-nav">
                <li class=""><a href="#home" class="">ABOUT</a></li>
                <li class=""><a href="#experience" class="">EXPERIENCE</a></li>
                <li class=""><a href="#skills" class="">SKILLS</a></li>
                <li class=""><a href="#education" class="">EDUCATION</a></li>
                <li class=""><a href="#project" class="">PROJECTS</a></li>
                <li class=""><a href="#contact" class="">CONTACT US</a></li>
                <li class=""><a href="#login" class="">Login</a></li>
            </ul>
        </div>

    </div>
</div>