<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top px-2 p-0">
    <div class="container-fluid navbar p-0">
        <a class="navbar-brand navbar-item nav-logo" href="#" data-aos="zoom-in-down" data-aos-duration="1500"
            data-aos-once="true">
            <div class="logo-container">
                <!-- <img src="assets/photos/logo.jpg" alt="" class="logo-img"> -->
                <div class="company-name">TC ☺ Food Corner!</div>
            </div>
        </a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse ms-auto collapse" id="navbarSupportedContent">
            <ul class="navbar-nav horizontal-nav ms-auto mb-2 mb-lg-0 me-sm-5 text-center collapsed">
                <li class="navbar-item" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-once="true">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="navbar-item" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-once="true">
                    <a class="nav-link active" aria-current="page" routerLink="services">Service</a>
                </li>
                <li class="navbar-item" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-once="true">
                    <a class="nav-link active" aria-current="page" routerLink="about-us">About Us</a>
                </li>
                <li class="navbar-item" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-once="true">
                    <a class="nav-link" aria-current="page" routerLink="gallery">Gallery</a>
                </li>
                <li class="navbar-item" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-once="true">
                    <a class="nav-link active" aria-current="page" routerLink="contact-us">Contact Us</a>
                </li>
                <li class="navbar-item" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-once="true">
                    <button class="nav-link active" aria-current="page" routerLink="contact-us">login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>