<!-- <app-not-found [visible]="!food" notFoundMessage="Item not found" resetLinkText="Go to home"></app-not-found> -->
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="food.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favorite {{food.favorite?'':'not'}}">
            <i class="fa-solid fa-heart"></i>
            </span>
        </div>
        <div>
            <ngb-rating class="star {{food.star?'':'not'}}" [rate]="food.star" [readonly]="true" [max]="5"
                size="24px"></ngb-rating>
        </div>
        <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{origin}}
            </span>
        </div>
        <div class="tag">
            <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
        </div>
        <div class="cook-time">
            <span>
                Time to cook about <strong>{{food.cookTime}}</strong> Minutes
            </span>
        </div>
        <div class="price">
            <span>
                {{food.price | currency : "INR"}}
            </span>
        </div>
        <button (click)="addToCart()">Add to cart</button>
    </div>
</div>