<div class="search">
    <input type="text" placeholder="Search Food from TC ☺ Food Corner" [(ngModel)]="searchItem" (change)="search()">
    <button (click)="search()">Search</button>
</div>
<div *ngIf="tags" [style.justifyContent]="justifyContent" class="tag">
    <a *ngFor="let tag of tags" routerLink="/tag/{{tag.name}}">{{tag.name}}({{tag.count}})</a>
</div>
<div *ngIf="foodPageTags" class="tag">
    <a *ngFor="let tagname of foodPageTags" routerLink="/tag/{{tagname}}">{{tagname}}</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 food-card" *ngFor="let food of foods">
            <a routerLink="/food/{{food.id}}">
                <img [defaultImage]="'/assets/placeholder.jpg'" [lazyLoad]="food.imageUrl" alt="food images">
                <div class="content">
                    <div class="name">
                        {{food.name}}
                    </div>
                    <span class="favorite {{food.favorite ? '' : 'not'}}"><i class="fa-solid fa-heart"></i></span>
                    <div>
                        <ngb-rating class="star {{food.star ? '' : 'not'}}" [rate]="food.star" [readonly]="true"
                            [max]="5" size="24px"></ngb-rating>
                    </div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span *ngFor="let origin of food.origins">
                                {{origin}}
                            </span>
                        </div>
                        <div class="price">
                            {{food.price | currency:'INR'}}
                        </div>
                        <div class="cook-time">
                            <span>🕓</span>
                            {{food.cookTime}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>