div{
    display: flex;
    flex-wrap: wrap;
}
div a{
    background-color:#f1f1f1;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: #626262;
    font-weight: 600;
}
div a:hover{
    color:black;
    background-color: #f1f1f1;
    cursor: pointer;
}