ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a {
    height: 20rem;
    width: 17rem;
    border: 1px solid wheat;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    border-bottom: 2px solid #ef3d3d;
    /* border-right: 2px #ef3d3d; */
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.content {
    padding: .5rem 1rem;
    position: relative;

}

.favorite {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not {
    color: black;
}

.star {
    margin-bottom: .2rem;
}

.origins {
    flex: 9;
}

.origins span {

    border-radius: 2rem;
    background-color: whitesmoke;
    color: gray;
    font-size: .8rem;
    margin-right: .3rem;
    display: inline-block;
}

.cook-time {
    font-size: .8rem;
    flex: 3;
    text-align: right;
}

.star.not {
    color: black;
}